@mixin generic-transition() {
  -webkit-transition: all .2s ease-in-out;
}
@mixin border-radius($topleft, $topright: $topleft, $bottomright: $topleft, $bottomleft: $topleft) {
  -moz-border-radius: $topleft $topright $bottomright $bottomleft;
  -ms-border-radius: $topleft $topright $bottomright $bottomleft;
  -o-border-radius: $topleft $topright $bottomright $bottomleft;
  -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
  border-radius: $topleft $topright $bottomright $bottomleft;
}
@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin text-shadow-white() {
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}

/****************************************
/* Modal Box
/****************************************/

.overlay {
  display: none;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.modal-content {
  position: relative;
  z-index: 100;
  margin: 60px auto 0;
  max-width: 500px;
  padding:30px;
  overflow:hidden;
  background: white;
  box-shadow: 0 0 25px rgba(0,0,0,.7);
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
  }
}




.container-narrow {
  max-width:700px;
  margin: 0 auto;
  padding-top:20px;
}
.article {
  margin-bottom:20px;
}



.add_score {
  background:#EEEEEE;
  &.pressed {
    background:#adff2f;
    .hover {
      display:none;
    }
    .not-hover {
      display:block;
    }
    &:hover {
      background:#8b0000;
      .hover {
        display:block;
      }
      .not-hover {
        display:none;
      }
    }
  }
  &.scorable {
    &:hover {
      background:#adff2f;
    }
  }
  display:inline-block;
  border-radius:5px;
  padding:3px;
  i {
    margin: 4px 4px 0;
  }
}